.Title {
    text-align: center;
    text-shadow: 2px 2px 12px yellow;
    color: forestgreen;
}

.card-style {
    margin: 0px 45px 25px 45px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 25px 35px 45px 35px;
}

.form-field {
    text-align: left;
    margin: 0px 20px 30px 20px;
    width: 8em;
}

.long-form-field {
    text-align: left;
    margin: 0px 20px 30px 20px;
    width: 13em;
}

.users-combobox {
    text-align: left;
    margin: 0px 20px 30px 20px;
    width: 20em;
}

.special-titles {
    color: rgb(39, 145, 92);
    text-transform: uppercase;
    margin: 25px 25px 10px 25px;
}

.button {
    margin: 0 20px 20px 95px;
    transform: scale(1.5, 1.5);
}

.form {
    margin-top: 60px;
}

.positive-button {
    background-color: rgba(84,179,63,1) ;
    color: white;
    margin-top: 15px;
}
table {
    width: 100%;
}
  
  
td, th {
    width: 10%;
}

.crud {
    margin-top: 60px;
}