<title>Usuarios</title>
<app-main-navbar></app-main-navbar>


<div class="form">
  <h3 class="special-titles">Crear usuario</h3><br />
  <mat-card class="card-style">
    <mat-form-field class="long-form-field">
      <input matInput [(ngModel)]="newUser.nombre" placeholder="Usuario" name="nombre">
    </mat-form-field>
    <mat-form-field class="long-form-field">
      <input matInput [(ngModel)]="newUser.password" type="password" placeholder="Contraseña" name="password">
    </mat-form-field>
    <br />

    <mat-form-field class="users-combobox">
      <mat-select [(ngModel)]="newUser.tipo" placeholder="Tipo de usuario" name="tipo">
        <mat-option value="0">Jefatura</mat-option>
        <mat-option value="1">Secretaria</mat-option>
        <mat-option value="2">Supervisor de Atencion al Contribuyente</mat-option>
        <mat-option value="3">Supervisor de Archivo</mat-option>
        <mat-option value="4">Supervisor de Mantenimiento</mat-option>
        <mat-option value="5">Supervisor de Digitacion</mat-option>
        <mat-option value="6">Supervisor de Control de Calidad</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button class="positive-button" mat-button (click)="sendUser()">Enviar</button>
  </mat-card>
</div>

<!-------------------------------------------------------------------->

<div class="crud">
  <h3 class="special-titles">Usuarios</h3><br />
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Nombres Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
        <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
      </ng-container>

      <!-- password Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contraseña </th>
        <td mat-cell *matCellDef="let row">{{row.password}}</td>
      </ng-container>

      <!-- tipo Column -->
      <ng-container matColumnDef="UserType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let row">{{row.usertype}}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button name="deleteEmpleado" *ngIf="allPrivileges" color="warn"
            (click)="onDelete(row.nombre)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>