<app-main-navbar></app-main-navbar>

<div class="background">
  <h1 class="Title">Ficha Catastral Urbana</h1>
    <form class="example-form">

        <!-- <mat-radio-group
            [(ngModel)]="tipoPropiedades"  name="radioGroup1">
            <mat-radio-button name="radioButtons1" class="RadioButtons" *ngFor="let propiedad of Propiedades" [value]="propiedad">
              {{propiedad}}
            </mat-radio-button>
          </mat-radio-group> -->

          <mat-card class="card-style">
              <mat-button-toggle-group [(ngModel)]="ficha.tipoPropiedad"  name="tipoPropiedad" aria-label="Tipo Propiedad">
                  <mat-button-toggle id="prop-N" class="toggle-buttons" (click)="clickedButton1()" name="prop-normal" value="N">Propiedad Normal</mat-button-toggle>
                  <mat-button-toggle id="prop-C" class="toggle-buttons" (click)="clickedButton2()" name="condominio" value="C">Condominio (P.H.)</mat-button-toggle>
                </mat-button-toggle-group>
            
                <br/>

              <mat-form-field class="special-form-field">
                  <input matInput [(ngModel)]="mapa" placeholder="Mapa" name="mapa">
                </mat-form-field>
              <mat-form-field class="special-form-field">
                  <input matInput [(ngModel)]="bloque" placeholder="Bloque" name="bloque">
                </mat-form-field>
              <mat-form-field class="special-form-field">
                  <input matInput [(ngModel)]="predio" placeholder="Predio" name="predio">
                </mat-form-field>
            </mat-card> <br/>


            <mat-card class="card-style">

              <h5 class="special-titles">Propietario o Razón Social</h5> <br/>

              <mat-form-field class="form-field">
                  <input matInput [(ngModel)]="ficha.claveSure" placeholder="Clave SURE" name="clave-sure">
                </mat-form-field>
              <mat-form-field class="form-field">
                  <input matInput [(ngModel)]="ficha.claveAnterior" placeholder="Clave Anterior" name="clave-anterior">
                </mat-form-field> <br/>

              <mat-form-field class="form-field">
                  <input matInput [(ngModel)]="ficha.id" placeholder="Identidad" name="identidad">
                </mat-form-field>
              <mat-form-field class="form-field">
                  <input matInput [(ngModel)]="ficha.telefono" placeholder="Telefono" name="telefono">
                </mat-form-field>

              <mat-form-field class="long-form-field">
                  <input matInput [(ngModel)]="ficha.nombres" placeholder="Nombres" name="nombres">
                </mat-form-field>
              <mat-form-field class="long-form-field">
                  <input matInput [(ngModel)]="ficha.apellidos" placeholder="Apellidos" name="apellidos">
                </mat-form-field><br/>

              <mat-form-field class="long-form-field">
                  <input matInput [(ngModel)]="ficha.rtn" placeholder="RTN" name="rtn">
                </mat-form-field>
              
              <mat-form-field class="form-field">
                <mat-select [(ngModel)]="ficha.sexo" placeholder="Sexo" name="sexo">
                  <mat-option value="M">Masculino</mat-option>
                  <mat-option value="F">Femenino</mat-option>
                </mat-select>
                </mat-form-field>

                <mat-form-field class="long-form-field">
                    <input matInput [(ngModel)]="ficha.nacionalidad" placeholder="Nacionalidad" name="nacionalidad">
                  </mat-form-field>
              
          </mat-card><br/>

          <mat-card class="card-style">

            <h5 class="special-titles">Nombre de Negocios</h5><br/>
            <mat-list [ngStyle]="{'margin-left': '25px'}">
                <mat-list-item class="list-item" *ngFor="let Negocio of Negocios">
                  <h3 [ngStyle]="{'font-size': '16pt'}" mat-line>{{Negocio.nombre}}</h3>
                  <p [ngStyle]="{'font-style': 'italic'}" mat-line>{{Negocio.direccion}}</p>
                </mat-list-item>
              </mat-list> <br/>
          
          </mat-card> <br/>


          <mat-card class="card-style">

            <h5 class="special-titles">Información del Predio</h5> <br/>

            <section class="">
              <mat-checkbox class="RadioButtons" >En construcción</mat-checkbox>
              <mat-checkbox class="RadioButtons" >No Legalizado</mat-checkbox>
              <mat-checkbox class="RadioButtons" >Observación</mat-checkbox>
            </section> <br/>


            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.barrio" placeholder="Barrio" name="barrio">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.caserio" placeholder="Caserío" name="caserio">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.sitio" placeholder="Sitio" name="sitio">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.uso" placeholder="Uso" name="uso">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.subUso" placeholder="Sub Uso" name="sub-uso">
              </mat-form-field><br/>
            <mat-form-field [ngStyle]="{'width': '30em', 'margin-left': '20px'}">
                <input matInput placeholder="Ubicación del Predio" name="ubicacion-predio">
              </mat-form-field> <br/>
            <mat-form-field class="form-field">
                <input matInput type="number" placeholder="Estatus Tributario" name="estatus-tributario">
              </mat-form-field>
            <mat-form-field [ngStyle]="{'width': '10em'}" class="form-field">
                <input matInput type="number" placeholder="Código Propietario" name="codigo-propietario">
              </mat-form-field>
            <mat-form-field [ngStyle]="{'width': '10em'}" class="form-field">
                <input matInput type="number" placeholder="Código Habitacional" name="codigo-habitacional">
              </mat-form-field><br/>
            <mat-form-field [ngStyle]="{'width': '10em'}" class="form-field">
                <input [ngStyle]="{'color': 'red'}" matInput placeholder="Futuras Revisiones" name="futuras-revisiones">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput type="number" placeholder="% Exención" name="exencion">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input [ngStyle]="{'color': 'red'}" matInput type="number" placeholder="Tasa Impositiva" name="tasa-impositiva">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input [ngStyle]="{'color': 'red'}" matInput type="number" placeholder="% Concertación" name="concertacion">
              </mat-form-field> <br/><br/>

            <mat-divider class="mat-divider" ></mat-divider><br/><br/>

            <button [ngStyle]="{'margin-left': '23%'}" class="button" color="primary" mat-raised-button>Información Legal del Predio</button>
            <button class="button" color="primary" mat-raised-button>Características del Predio</button>
            <button class="button" color="primary" mat-raised-button>Datos Complementarios</button> <br/><br/><br/>


            <mat-form-field class="show-data-form">
                <input type="number" matInput placeholder="Terreno" name="terreno">
              </mat-form-field>

            <mat-form-field class="long-form-field">
                <input type="number" matInput placeholder="Edificaciones" name="edificaciones">
              </mat-form-field><br/>

            <mat-form-field class="show-data-form">
                <input type="number" matInput placeholder="Detalles Adicionales" name="detalles-adicionales">
              </mat-form-field>

            <mat-form-field class="long-form-field">
                <input type="number" matInput placeholder="Cultivos Permanentes" name="cultivos-permanentes">
              </mat-form-field><br/><br/>

            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Valor Declarado" name="valor-declarado">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Avalúo Total" name="avaluo-total">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Exención" name="exencion-tot">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Valor Grabable" name="valor-grabable">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Impuesto" name="impuesto">
              </mat-form-field><br/>


            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Estado del Predio" name="estado-predio">
              </mat-form-field><br/> <br/>


            <button [ngStyle]="{'margin-left': '45%'}" onclick="submitForm()" class="button" color="primary" mat-raised-button>Enviar</button>

            
          </mat-card>
            <br/>
    </form>
</div>