.form-field {
    text-align: left;
    margin: 0px 20px 0px 20px;
    width: 8em;
}

.special-form-field {
    text-align: left;
    margin: 20px 20px 0px 20px;
    width: 6em;
    border-color: red;
    border-style: solid;
    border-width: 0.25em;
    border-radius: 30px;
}

.card-style {
    margin: 0px 65px 0px 25px;
    background-color: rgb(255, 233, 143);
    box-shadow: -4px 4px 0.4em;
    border-radius: 20px;
    padding: 25px 35px 45px 35px;
}

.list-item {
    background-color: inherit;
    box-shadow: -4px 4px 0.4em;
    margin-bottom: 1em;
    border-radius: 10px;
}

.long-form-field {
    text-align: left;
    margin: 0px 20px 0px 20px;
    width: 13em;
}

.RadioButtons {
    margin: 0 15px 0 25px;
    background-color: inherit;
    font-weight: 500;
    box-shadow: -4px 4px 0.4em;
    padding: 8px 15px;
    border-radius: 10px
}

.selected-button {
    margin: 0 15px 0 25px;
    background-color: dodgerblue;
    font-weight: 500;
    box-shadow: -4px 4px 0.4em;
    padding: 8px 15px;
    border-radius: 10px
}

.Title {
    text-align: center;
    text-shadow: 2px 2px 12px yellow;
    color: forestgreen;
}

.special-titles {
    color: red;
    text-transform: uppercase;
    margin: 25px 25px 10px 25px;
}

.background {
    margin: 0px 0px 0px 0px;
    padding: 8px 25px;
    background-color: powderblue;
    width: 100%;
}

.example-form {
    display: inline-block;
    min-width: 150px;
    max-width: 100%;
    width: 100%;
}

.full-width {
    width: 100%;
}