<app-main-navbar></app-main-navbar>

<div class="background">
  <h1 class="Title">Ficha Catastral Urbana</h1>
    <form class="example-form">
          
          <mat-card class="card-style">
            <mat-radio-group [(ngModel)]="ficha.tipoPropiedad"  name="radioGroup1">
              <mat-radio-button name="radioButtons1" value="N">
                Propiedad Normal
              </mat-radio-button>
              <br/>
              <br/>
              <mat-radio-button name="radioButtons2" value="C">
                Condominio (P.H.)
              </mat-radio-button>
            </mat-radio-group> 
            <!--
              <mat-button-toggle-group [(ngModel)]="ficha.tipoPropiedad"  name="tipoPropiedad" aria-label="Tipo Propiedad">
                  <mat-button-toggle id="prop-N" class="toggle-buttons" (click)="clickedButton1()" name="prop-normal" value="N">Propiedad Normal</mat-button-toggle>
                  <mat-button-toggle id="prop-C" class="toggle-buttons" (click)="clickedButton2()" name="condominio" value="C">Condominio (P.H.)</mat-button-toggle>
                </mat-button-toggle-group>
            -->
              <br/>
              
              <mat-form-field class="special-form-field">
                  <input matInput [(ngModel)]="mapa" placeholder="Mapa" name="mapa">
                </mat-form-field>
              <mat-form-field class="special-form-field">
                  <input matInput [(ngModel)]="bloque" placeholder="Bloque" name="bloque">
                </mat-form-field>
              <mat-form-field class="special-form-field">
                  <input matInput [(ngModel)]="predio" placeholder="Predio" name="predio">
                </mat-form-field><br/><br/>

              <h5 class="special-titles">Propietario</h5>
              <mat-form-field class="form-field">
                <input  type="number" matInput [(ngModel)]="ficha.id" placeholder="Identidad" name="identidad">
              </mat-form-field>
            </mat-card> <br/>


            <button class="button" (click)="openDialogCrearNegocio()" color="primary" mat-raised-button>Agregar un negocio</button>

          <mat-card class="card-style">
            <h5 class="special-titles">Nombre de Negocios</h5><br/>
            <mat-list [ngStyle]="{'margin-left': '25px'}">
                <mat-list-item class="list-item" *ngFor="let Negocio of Negocios">
                  <h3 [ngStyle]="{'font-size': '16pt'}" mat-line>{{Negocio.name}}</h3>
                  <p [ngStyle]="{'font-style': 'italic'}" mat-line>{{Negocio.direccion}}</p>
                  <button mat-raised-button (click)="openDialog6(Negocio)" [ngStyle]="{'background-color': 'deepskyblue', 'color': 'white'}">
                    <mat-icon>assignment</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list> <br/>
          
          </mat-card> <br/>


          <mat-card class="card-style">
            <h5 class="special-titles">Información del Predio</h5> <br/>

            <!-- <section class="">
              <mat-checkbox class="RadioButtons" >En construcción</mat-checkbox>
              <mat-checkbox class="RadioButtons" >No Legalizado</mat-checkbox>
              <mat-checkbox class="RadioButtons" >Observación</mat-checkbox>
            </section> <br/> -->

            <mat-form-field class="long-form-field">
              <input matInput placeholder="En construcción" name="enConsrucción">
            </mat-form-field>
            <mat-form-field class="long-form-field">
              <input matInput placeholder="No legalizado" name="noLegalizado">
            </mat-form-field>
            <mat-form-field class="long-form-field">
              <input matInput placeholder="Observación" name="observacion">
            </mat-form-field><br/>



            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.barrio" placeholder="Barrio" name="barrio">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.caserio" placeholder="Caserío" name="caserio">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.sitio" placeholder="Sitio" name="sitio">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.uso" placeholder="Uso" name="uso">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput [(ngModel)]="ficha.subUso" placeholder="Sub Uso" name="sub-uso">
              </mat-form-field><br/>
            <mat-form-field [ngStyle]="{'width': '30em', 'margin-left': '20px'}">
                <input matInput placeholder="Ubicación del Predio" name="ubicacion-predio">
              </mat-form-field> <br/>
            <mat-form-field class="form-field">
                <input matInput type="number" placeholder="Estatus Tributario" name="estatus-tributario">
              </mat-form-field>
            <mat-form-field [ngStyle]="{'width': '10em'}" class="form-field">
                <input matInput type="number" placeholder="Código Propietario" name="codigo-propietario">
              </mat-form-field>
            <mat-form-field [ngStyle]="{'width': '10em'}" class="form-field">
                <input matInput type="number" placeholder="Código Habitacional" name="codigo-habitacional">
              </mat-form-field><br/>
            <mat-form-field [ngStyle]="{'width': '10em'}" class="form-field">
                <input [ngStyle]="{'color': 'red'}" matInput placeholder="Futuras Revisiones" name="futuras-revisiones">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput type="number" placeholder="% Exención" name="exencion">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input [ngStyle]="{'color': 'red'}" matInput type="number" placeholder="Tasa Impositiva" name="tasa-impositiva">
              </mat-form-field>
            <mat-form-field class="form-field">
                <input [ngStyle]="{'color': 'red'}" matInput type="number" placeholder="% Concertación" name="concertacion">
              </mat-form-field> <br/><br/>

            <mat-divider class="mat-divider" ></mat-divider><br/><br/>

            <button [ngStyle]="{'margin-left': '23%'}" (click)="openDialog()" class="button" color="primary" mat-raised-button>Información Legal del Predio</button>
            <button class="button" (click)="openDialog7()" color="primary" mat-raised-button>Características del Predio</button>
            <button class="button" color="primary" (click)="openDialog3()" mat-raised-button>Datos Complementarios</button> <br/><br/><br/>
            <button [ngStyle]="{'margin-left': '33%'}" class="button" color="primary" (click)="openDialog4()" mat-raised-button>Avalúo de Terrenos</button>
            <button class="button" color="primary" (click)="openDialog5()" mat-raised-button>Avalúo de Edificaciones</button>
            <br/>


            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Terreno" name="terreno">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Edificaciones" name="edificaciones">
              </mat-form-field>

            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Detalles Adicionales" name="detalles-adicionales">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Cultivos Permanentes" name="cultivos-permanentes">
              </mat-form-field><br/><br/>

            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Valor Declarado" name="valor-declarado">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Avalúo Total" name="avaluo-total">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Exención" name="exencion-tot">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Valor Grabable" name="valor-grabable">
              </mat-form-field><br/>

            <mat-form-field class="center-long-data">
                <input readonly type="number" matInput placeholder="Impuesto" name="impuesto">
              </mat-form-field><br/>


            <mat-form-field class="center-long-data">
                <input type="number" matInput placeholder="Estado del Predio" name="estado-predio">
              </mat-form-field><br/> <br/>


            <button [ngStyle]="{'margin-left': '45%'}" (click)="submitForm()" class="button" color="primary" mat-raised-button>Enviar</button>

            
          </mat-card>
            <br/>
    </form>
</div>