<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-button class="btn-ttl" routerLink="/modules">Municipalidad de Choloma</button>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button *ngIf="allPrivileges" mat-button class="btn-font" routerLink="/usuarios">Crear Usuario</button>
      <button mat-button class="btn-font" routerLink="/propietario">Propietario</button>
      <!--<button mat-button class="btn-font" routerLink="/fichaUrbana">Ficha Urbana</button>-->
      <button mat-button class="btn-font" routerLink="/fichas">Fichas</button>
      <button *ngIf="allPrivileges" mat-button  class="btn-font"routerLink="/mantenimientos">Configuracion</button>
      <button mat-button  class="btn-font"(click)="logout()">Cerrar Sesión</button>
</mat-toolbar-row>