<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span routerLink="/modules">Municipalidad de Choloma</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button *ngIf="allPrivileges" mat-button routerLink="/usuarios">Crear Usuario</button>
      <button mat-button routerLink="/propietario">Propietario</button>
      <button mat-button routerLink="/fichaUrbana">Ficha Urbana</button>
      <button *ngIf="allPrivileges" mat-button routerLink="/mantenimientos">Mantenimientos</button>
      <button mat-button (click)="logout()">Cerrar Sesión</button>
</mat-toolbar-row>