.example-icon {
    padding: 0 14px;
}

.long-form-field {
    text-align: left;
    margin: 0px 20px 30px 20px;
    width: 13em;
}
  
.example-spacer {
    flex: 1 1 auto;
    margin: 0 0;
}

.btn-ttl{
    font-size: 21px;
}
.btn-font{
    font-size: 16px;
}
.mat-toolbar.mat-primary {
    background: linear-gradient(180deg, rgba(84,179,63,1) 0%, rgba(107,195,58,1) 100%);
    color: #fff;
  }
