<title>Mantenimientos</title>
<app-main-navbar></app-main-navbar>

<div class="form">
  <h2 class="special-titles">Mantenimientos</h2>
    <!--Propietarios-->
  <mat-card class="card-style">
    <h3 class="special-titles2">Propietarios</h3>
     
  </mat-card>
    <!--Step 2 Negocios-->
  <mat-card class="card-style">
      <h3 class="special-titles2">Negocios</h3>
       
    </mat-card>
     <!--Step 4 Informacion legal del predio-->
    <mat-card class="card-style">
        <h3 class="special-titles2">Info. legal del predio</h3>
          
      </mat-card>
       <!--Step 6 Datos complementarios-->
      <mat-card class="card-style">
          <h3 class="special-titles2">Datos complementarios</h3>
            
        </mat-card>
       
</div>