<title>Mantenimientos</title>
<app-main-navbar></app-main-navbar>

<div class="form">
  <h2 class="special-titles">Configuracion</h2>
    <!--Sexos-->
  <mat-card class="card-style">
    <h3 class="special-titles2">Sexos</h3>
    <div class="mat-elevation-z8">

      <mat-form-field class="long-form-field">
        <input matInput name="sexo" placeholder="Tipo" [(ngModel)]="sexo.tipo">
      </mat-form-field>

      <button class="marg" mat-raised-button name="addSexo" [ngStyle]="{'color': 'green'}" (click)="addSexo()" >
        <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
      </button><br/><br/>

      <table mat-table [dataSource]="dataSourceSexo">
      
        <!-- Sexo Column -->
        <ng-container matColumnDef="tipo">
          <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.tipo}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
            <button mat-icon-button name="modifySexo" (click)="modifySexo(row.tipo)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button name="deleteSexo" (click)="deleteSexo(row.tipo)" color="warn"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSexo"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSexo;">
        </tr>
      </table>
    </div>
  </mat-card>
    <!--Nacionalidad-->
    <mat-card class="card-style">
      <h3 class="special-titles2">Nacionalidad</h3>
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="nacionalidad" placeholder="Pais" [(ngModel)]="nacionalidad.pais">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addNacionalidad" [ngStyle]="{'color': 'green'}" (click)="addNacionalidad()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceNacionalidad">
        
          <!-- Nacionalidad Column -->
          <ng-container matColumnDef="pais">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Pais </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.pais}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editNacionalidad" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteNacionalidad" (click)="deleteNacionalidad(row.pais)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsNacionalidad"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsNacionalidad;">
          </tr>
        </table>
      </div>
    </mat-card>
    <!--Tipo de Empresa-->
    <mat-card class="card-style">
      <h3 class="special-titles2">Tipo de Empresa</h3>
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="empresa" placeholder="Empresa" [(ngModel)]="empresa.empresa">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addTipoEmpresa" [ngStyle]="{'color': 'green'}" (click)="addTipoEmpresa()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceEmpresa">
        
          <!-- Empresa Column -->
          <ng-container matColumnDef="empresa">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.empresa}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editTipoEmpresa" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteTipoEmpresa" (click)="deleteTipoEmpresa(row.empresa)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsEmpresa"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsEmpresa;">
          </tr>
        </table>
      </div>
    </mat-card>

  <!--Step 2 Negocios-->
  <mat-card class="card-style">
    <h3 class="special-titles2">Negocios</h3>
    <mat-form-field class="long-form-field2">
      <mat-select [(ngModel)]="negocioCampo" [ngModelOptions]="{standalone: true}" placeholder="Seleccionar" name="tipo">
          <mat-option value="0">Registro/Propiedad</mat-option>
          <mat-option value="1">Naturalezas Jurídica</mat-option>
          <mat-option value="2">Clase de Dominio</mat-option>
          <mat-option value="3">Tipo de Documento</mat-option>
          <mat-option value="4">Unidad del Área</mat-option>
          <mat-option value="5">Tipo de Medida</mat-option>   
      </mat-select>
    </mat-form-field>

    <!-- REGISTRO / PROPIEDAD SECTION -->
    <div *ngIf="negocioCampo == '0'">
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="Registro" placeholder="Registro / Propiedad" [(ngModel)]="reg.tipo">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addRegistro" [ngStyle]="{'color': 'green'}" (click)="addRegistro()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceRegistro">
        
          <!-- Registro Column -->
          <ng-container matColumnDef="registro">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Registro / Propiedad </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.registro}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editRegistro" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteRegistro" (click)="deleteRegistro(row.registro)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsRegistro"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsRegistro">
          </tr>
        </table>
      </div>
    </div>

    <!-- NATURALEZAS JURÍDICAS SECTION -->
    <div *ngIf="negocioCampo == '1'">
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="naturalezaJurídica" placeholder="Naturaleza jurídica" [(ngModel)]="naturaleza.tipo">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addNaturaleza" [ngStyle]="{'color': 'green'}" (click)="addNaturaleza()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceNaturalezaJuridica">
        
          <!-- Naturaleza Column -->
          <ng-container matColumnDef="tipo">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Naturaleza Jurídica </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.tipo}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editNaturaleza" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteNaturaleza" (click)="deleteNaturaleza(row.tipo)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsNaturalezaJuridica"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsNaturalezaJuridica">
          </tr>
        </table>
      </div>
    </div>

    <!-- CLASE DE DOMINIO SECTION -->
    <div *ngIf="negocioCampo == '2'">
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="claseDominio" placeholder="Clase de Dominio"  [(ngModel)]="dominio.tipo">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addClaseDom" [ngStyle]="{'color': 'green'}" (click)="addDominio()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceClaseDominio">
        
          <!-- Clase de Dominio Column -->
          <ng-container matColumnDef="tipo">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Clase de Dominio </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.tipo}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editClaseDom" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteClaseDom" (click)="deleteDominio(row.tipo)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsClaseDominio"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsClaseDominio">
          </tr>
        </table>
      </div>
    </div>

    <!-- TIPO DE DOCUMENTO SECTION -->
    <div *ngIf="negocioCampo == '3'">
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="tipoDoc" placeholder="Tipo de Documento" [(ngModel)]="documento.tipoDoc">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addTipoDoc" [ngStyle]="{'color': 'green'}" (click)="addDocumento()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceTipoDocumento">
        
          <!-- Tipo de Documento Column -->
          <ng-container matColumnDef="tipoDoc">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Documento </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.tipoDoc}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editTipoDoc" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteTipoDoc" (click)="deleteDocumento(row.tipoDoc)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTipoDocumento"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTipoDocumento">
          </tr>
        </table>
      </div>
    </div>

    <!-- UNIDAD DE ÁREA SECTION -->
    <div *ngIf="negocioCampo == '4'">
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="unidadArea" placeholder="Unidad de Área" [(ngModel)]="area.area">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addUnidad" [ngStyle]="{'color': 'green'}" (click)="addArea()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceUnidadArea">
        
          <!-- Unidad de Área Column -->
          <ng-container matColumnDef="area">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Unidad de Área </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.area}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editUnidad" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteUnidad" (click)="deleteArea(row.area)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsUnidadArea"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsUnidadArea">
          </tr>
        </table>
      </div>
    </div>

    <!-- TIPO DE MEDIDA SECTION -->
    <div *ngIf="negocioCampo == '5'">
      <div class="mat-elevation-z8">
  
        <mat-form-field class="long-form-field">
          <input matInput name="TipoMedida" placeholder="Tipo de Medida" [(ngModel)]="medida.medida">
        </mat-form-field>
  
        <button class="marg" mat-raised-button name="addTipoMedida" [ngStyle]="{'color': 'green'}" (click)="addMedida()" >
          <mat-icon [ngStyle]="{'color': 'green'}">add</mat-icon>Agregar 
        </button><br/><br/>
  
        <table mat-table [dataSource]="dataSourceTipoMedida">
        
          <!-- Tipo de Medida Column -->
          <ng-container matColumnDef="medida">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Medida </th>
            <td class="paddingBetweenCols"mat-cell *matCellDef="let row">{{row.medida}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="paddingBetweenCols" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td class="paddingBetweenCols" mat-cell *matCellDef="let row">
              <button mat-icon-button name="editTipoMedida" ><mat-icon>launch</mat-icon></button>
              <button mat-icon-button name="deleteTipoMedida" (click)="deleteMedida(row.medida)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTipoMedida"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTipoMedida">
          </tr>
        </table>
      </div>
    </div>
       
  </mat-card>

  <!--Step 4 Informacion legal del predio-->
  <mat-card class="card-style">
    <h3 class="special-titles2">Info. legal del predio</h3>
          
  </mat-card>
  <!--Step 6 Datos complementarios-->
  <mat-card class="card-style">
    <h3 class="special-titles2">Datos complementarios</h3>
  </mat-card>
       
</div>