.container {
    text-align: center;
    height: 100%;
    /* The image used */
    background-image: url("../../../assets/img/muni-choloma-background.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}

.example-card {
    display: inline-block;
    min-width: 150px;
    max-width: 320px;
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

img {
    width: 200px;
    height: 180px;
}
