.container {
    text-align: center;
    height: 100%;
    /* The image used */
    /* background-image: url("../../../assets/img/muni-choloma-background.png"); */

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}

.card-style {
    margin: 0px 45px 0px 45px;
    background-color: rgb(245, 245, 245);
    padding: 25px 35px 45px 35px;
}

.special-titles {
    color: red;
    text-transform: uppercase;
    margin: 25px 25px 10px 25px;
}

.example-card {
    display: inline-block;
    min-width: 150px;
    max-width: 320px;
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

img {
    width: 200px;
    height: 180px;
}
