<app-main-navbar></app-main-navbar>

<div class="container">
  <form class="example-form">
    <h3>Numero Catastral</h3>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Departamento">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Municipio">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Aldea">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Mapa">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Bolque">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Predio">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Num">
    </mat-form-field>

    <!--Segunda parte del formulario -->
    <h3>Datos Generales</h3>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="MAQ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="S:T">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Codigo propiedad">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Codigo HAB.">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="No. Linea">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="No. Foto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="No. Predio">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Poblacion o Sitio">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre del Propietario">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tarjeta de Identidad">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="R.P">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tomo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Asiento">
    </mat-form-field>

    <button mat-raised-button color="primary">Enviar</button>
  </form>
</div>