<h3 class="special-titles">Avalúo de Cultivo Permanente</h3>

<div mat-dialog-content>
    <div *ngFor="let element of DatosCultivos">
        <mat-form-field class="form-field">
            <mat-select placeholder="Clase Cultivo y Variedad" name="CCV">
              <mat-option value="">Insertar valores aquí</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="short-form-field">
            <input matInput type="number" placeholder="Arboles" name="arboles">
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-select placeholder="Estado Sanitario" name="estadoSanitario">
              <mat-option value="">Insertar valores aquí</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="short-form-field">
            <input matInput type="number" placeholder="Edad" name="edad">
        </mat-form-field>

        <mat-form-field class="short-form-field">
            <input matInput type="number" placeholder="Factor de Modificación" name="factorModificacion">
        </mat-form-field>

        <mat-form-field class="short-form-field">
            <input matInput type="number" placeholder="Valor por Cultivo" name="valorPorCultivo">
        </mat-form-field>

        <!-- <button mat-raised-button (click)="deleteElement(element)" [ngStyle]="{'background-color': 'deepskyblue', 'color': 'red'}">
            <mat-icon>delete</mat-icon>
          </button> -->

    </div>
    <button mat-raised-button (click)="deleteElement()">Eliminar Cultivo</button>
    <button mat-raised-button (click)="addElement()">Agregar Cultivo</button>

    <mat-divider class="mat-divider" ></mat-divider><br/><br/>

    <div *ngFor="let item of DatosCultivos2">

    <mat-form-field class="form-field">
        <mat-select placeholder="Clase Cultivo y Variedad" name="CCV2">
          <mat-option value="">Insertar valores aquí</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="short-form-field">
        <input matInput type="number" min="0" (input)="updateTotal(item)" [(ngModel)]="item.numDeManzanas" placeholder="No. Manzanas" name="numManzana">
    </mat-form-field>

    <mat-form-field class="short-form-field">
        <input matInput type="number" min="0" (input)="updateTotal(item)" [(ngModel)]="item.valorPorManz" placeholder="Valor por Manzana" name="valorPorManzana">
    </mat-form-field>
    &nbsp; &nbsp; &nbsp;

    <label [ngStyle]="{'font-weight': '600'}">Total: </label>
    <mat-form-field class="short-form-field">
        <input matInput type="number" readonly [(ngModel)]="item.numTotalDeManzanas" placeholder="" name="totalManzanas">
    </mat-form-field>

    </div>

    <button mat-raised-button (click)="deleteCultivo()">Eliminar Cultivo</button>
    <button mat-raised-button  (click)="addCultivo()">Agregar Cultivo</button>

    <mat-divider class="mat-divider" ></mat-divider><br/><br/>

    <mat-form-field class="long-form-field">
        <textarea matInput placeholder="Observación" name="observacion"></textarea>
    </mat-form-field><br/>

    <mat-form-field class="long-form-field">
            <textarea matInput placeholder="Calculista" name="calculista"></textarea>
    </mat-form-field>

    <mat-form-field class="long-form-field">
        <input matInput [matDatepicker]="picker" placeholder="Fecha de Cálculo" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <div>
        <label [ngStyle]="{'font-weight': '600'}">Avalúo del Cultivo: </label>
        <mat-form-field class="short-form-field">
            <input matInput [ngStyle]="{'color': 'red', 'font-weight': '600'}" type="number" [(ngModel)]="totalFinal" readonly name="avaluoCultivo">
        </mat-form-field>
        <label>lps.</label>
    </div>

</div>

<div mat-dialog-actions>
    <button  mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>Confirmar</button>
</div>