.Title {
    text-align: center;
    text-shadow: 2px 2px 12px yellow;
    color: forestgreen;
}

.card-style {
    margin: 0px 45px 25px 45px;
    background-color: rgb(245, 245, 245);
    padding: 25px 35px 45px 35px;
}

.form-field {
    text-align: left;
    margin: 0px 20px 30px 20px;
    width: 8em;
}

.long-form-field {
    text-align: left;
    margin: 0px 20px 30px 20px;
    width: 13em;
}

.special-titles {
    color: rgb(39, 145, 92);
    text-transform: uppercase;
    margin: 25px 25px 10px 25px;
}

.button {
    margin: 0 20px 20px 95px;
    transform: scale(1.5, 1.5);
}

table {
    width: 100%;
}
  
  
td, th {
    width: 10%;
}

.crud {
    margin-top: 60px;
}